#date_wrapper {
    position: relative;
    height: 43px;
    width: calc(30% - 14px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 14px;
    input {
        position: relative;
        width: 100%;
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
        border: 2px solid $blurColor;
        box-sizing: border-box;
        border-radius: 10px;
        outline: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        padding-left: 10px;
        padding-right: 10px;
        color: $textColor;
        background: #ffffff;
        transition: 0.3s;
        box-shadow: none;
        &::placeholder {
            color: $placeholderColor;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
        }
        &:focus {
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
            border-color: $mainColor;
        }
    }
    .error {
        border-color: $mainColor;
    }
}