section {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    max-height: 100vh;
    grid-template-rows: $headerHeight calc(100vh - 120px);
    header {
        position: relative;
        padding: 0;
        width: 86.25vw;
        max-width: 1656px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            position: relative;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 35px;
            line-height: 41px;
        }
        .button_wrapper {
            position: relative;
            width: 70px;
        }
    }
    .content_wrapper {
        position: relative;
        width: 1104px;
        height: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        .no_content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            color: $textColor;
        }
        .content {
            position: relative;
            width: 100%;
            height: calc(100% - 20px);
            display: flexbox;
            flex-wrap: wrap;
            overflow-y: auto;
            padding-left: 10px;
            transition: 0.3s;
            padding-bottom: 20px;
        }
    }
}