$inputHeight: 43px;
#edit_ad {
    position: relative;
    display: grid;
    height: 100%;
    grid-template-rows: 140px calc(100% - 140px);
    header {
        position: relative;
        width: 100%;
        max-width: 1920px;
        height: 100%;
        align-self: center;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            position: relative;
            font-weight: 400;
            font-size: 22pt;
        }
    }
    .edit_ad_container {
        position: relative;
        align-self: center;
        margin-left: calc(50% - 562px);
        width: 1084px;
        overflow-y: auto;
        background: #ffffff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        padding: 20px;
        max-height: 500px;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-content: center;
        .not_exists {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .edit_ad_wrapper {
            position: relative;
            width: 1044px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            overflow-y: auto;
        }
        .create_form {
            position: relative;
            display: grid;
            grid-template-columns: 20% 80%;
            width: 100%;
            max-height: 100%;
            overflow: auto;
            input,
            textarea {
                border: 2px solid $blurColor;
                box-sizing: border-box;
                border-radius: 10px;
                outline: none;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                padding-left: 10px;
                padding-right: 10px;
                color: $textColor;
                background: #ffffff;
                transition: 0.3s;
                box-shadow: none;
                &::placeholder {
                    color: $placeholderColor;
                }
                &:focus {
                    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
                }
            }
            .left_block {
                position: relative;
                display: flex;
                justify-content: center;
                align-content: flex-start;
                flex-wrap: wrap;
                #file_upload {
                    display: none;
                }
                .drop_zone {
                    position: relative;
                    width: 197px;
                    height: 170px;
                    border: 2px solid $blurColor;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    #edit_img {
                        position: relative;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                .upload_btn {
                    position: relative;
                    width: 197px;
                    height: 38px;
                    background: $mainColor;
                    border-radius: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    text-transform: uppercase;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 15px;
                    margin-top: 14px;
                    cursor: pointer;
                    transition: 0.3s;
                    &:hover {
                        transform: translateY(-2px);
                        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
                    }
                }
                input[type='url'] {
                    position: relative;
                    width: 197px;
                    margin-top: 14px;
                }
            }
            .right_block {
                display: flex;
                justify-content: center;
                align-content: flex-start;
                flex-wrap: wrap;
                .title_wrapper {
                    position: relative;
                    width: 95%;
                    height: $inputHeight;
                    #title {
                        width: 100%;
                        height: 100%;
                    }
                }
                .description_wrapper {
                    position: relative;
                    width: 95%;
                    height: 231px;
                }
                #description {
                    width: 100%;
                    height: 100%;
                    margin-top: 14px;
                    outline: none;
                    resize: none;
                    padding: 10px;
                    font-family: 'Roboto';
                }
                .create_fields_wrapper {
                    position: relative;
                    width: 95%;
                    display: flex;
                    justify-content: flex-start;
                    align-content: center;
                    flex-wrap: wrap;
                    margin-top: 14px;
                    .video_url_wrapper,
                    .product_url_wrapper {
                        position: relative;
                        width: 65%;
                        height: $inputHeight;
                        margin-top: 14px;
                    }
                    #video_url,
                    #product_url {
                        width: 100%;
                        height: 100%;
                    }
                    .index_wrapper {
                        position: relative;
                        margin-left: 14px;
                        margin-top: 14px;
                        width: 150px;
                        #index {
                            position: relative;
                            height: 100%;
                            width: 100%;
                            border: 1px solid;
                            background: transparent;
                            border: 2px solid $blurColor;
                            border-radius: 10px;
                            color: $placeholderColor;
                            outline: none;
                            padding-left: 10px;
                            padding-right: 10px;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            text-indent: 1px;
                            text-overflow: '';
                            cursor: pointer;
                            font-size: 18px;
                            text-align: center;
                            option {
                                border: 2px solid $blurColor;
                            }
                        }
                    }
                }
            }
        }
    }
}