#create_ad {
    position: relative;
    display: grid;
    height: 100%;
    grid-template-rows: 140px calc(100% - 280px) 140px;
    header {
        position: relative;
        width: 100%;
        max-width: 1920px;
        height: 100%;
        align-self: center;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            position: relative;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 35px;
            line-height: 41px;
        }
    }
    .submit_btn {
        position: relative;
        align-self: center;
        margin: 0 auto;
        width: 236px;
        height: 45px;
        border-radius: 100px;
        background: $mainColor;
        color: white;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.065em;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        box-shadow: none;
        cursor: pointer;
        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.1);
        }
    }
}

.create_ad_container {
    position: relative;
    align-self: center;
    margin-left: calc(50% - 562px);
    width: 1084px;
    overflow-y: auto;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 20px;
    max-height: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    .create_ad_wrapper {
        position: relative;
        width: 1044px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        overflow-y: auto;
    }
    .create_form {
        position: relative;
        display: grid;
        grid-template-columns: 20% 80%;
        width: 100%;
        max-height: 100%;
        input,
        textarea {
            border: 2px solid $blurColor;
            box-sizing: border-box;
            border-radius: 10px;
            outline: none;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            padding-left: 10px;
            padding-right: 10px;
            color: $textColor;
            background: #ffffff;
            transition: 0.3s;
            box-shadow: none;
            &::placeholder {
                color: $placeholderColor;
            }
            &:focus {
                box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
                border-color: #DED3ED;
            }
        }
        input {
            height: 43px;
        }
        .left_block {
            position: relative;
            display: flex;
            justify-content: center;
            align-content: flex-start;
            flex-wrap: wrap;
            #file_upload {
                display: none;
            }
            .drop_zone {
                position: relative;
                width: 197px;
                height: 170px;
                border: 2px solid $blurColor;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                #create_img {
                    position: relative;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            .upload_btn {
                position: relative;
                width: 197px;
                height: 38px;
                background: $mainColor;
                border-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                text-transform: uppercase;
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 15px;
                margin-top: 14px;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    transform: translateY(-2px);
                    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
                }
            }
            input[type='url'] {
                position: relative;
                width: 197px;
                margin-top: 14px;
            }
        }
        .right_block {
            display: flex;
            justify-content: center;
            align-content: flex-start;
            flex-wrap: wrap;
            #title {
                width: 95%;
            }
            #description {
                width: 95%;
                height: 231px;
                margin-top: 14px;
                outline: none;
                resize: none;
                padding: 10px;
                font-family: 'Roboto';
            }
            .create_fields_wrapper {
                position: relative;
                width: 95%;
                display: flex;
                justify-content: flex-start;
                align-content: center;
                flex-wrap: wrap;
                margin-top: 14px;
                #video_url,
                #product_url {
                    width: 70%;
                }
                #index {
                    position: relative;
                    width: calc(30% - 14px);
                    background: transparent;
                    border: 2px solid $blurColor;
                    border-radius: 10px;
                    color: $placeholderColor;
                    outline: none;
                    margin-left: 14px;
                    padding-left: 10px;
                    padding-right: 10px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    text-indent: 1px;
                    text-overflow: '';
                    cursor: pointer;
                }
                #time {
                    position: relative;
                    width: calc(30% - 18px);
                    border: 2px solid $blurColor;
                    border-radius: 10px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin-left: 14px;
                    cursor: pointer;
                    user-select: none;
                    transition: 0.3s;
                    &:hover {
                        transform: translateY(-2px);
                        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
                    }
                    p {
                        position: relative;
                        padding: 0;
                        margin: 0;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 19px;
                    }
                }
            }
        }
    }
}

.error {
    border-color: $mainColor !important;
}

.time_empty {
    color: $placeholderColor !important;
}

.time_not_empty {
    color: $textColor;
}

.time_picker {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
}